body {
  margin: 0;
  font-family: "Roboto";
}

/* div {
  border: 1px solid red;
} */

.red-border {
  border: 1px solid indianred;
}

table,
th,
td {
  border: 1px solid silver;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
}

.green {
  background-color: green;
}

.red {
  background-color: indianred;
}

@media (max-width: 600px) {
  .table-container {
    width: 100% !important;
    overflow-x: scroll;
  }

  tr td:nth-child(2) {
    min-width: 200px;
  }
  tr td:nth-child(3) {
    min-width: 150px;
  }
}

.container {
  display: flex;
  flex-flow: column nowrap;
}

.input-form-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.button-wrapper {
  display: flex;
  align-self: flex-end;
}

.margin-10 {
  margin: 10px;
}

.margin-30 {
  margin: 30px;
}
